// custom.scss
// custom styles to override unwanted default bootsrtap styles

// black-white color vars
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       #0F4C75;
$secondary:     #3282B8;
$light:         #BBE1FA;
$dark:          #1B262C;

$card-bg:        $light;
$body-bg:        $gray-200;

@import "../../../node_modules/bootstrap/scss/bootstrap";